.home_container {
    width:100%;
    height:100%;
    position:relative;
    /* background-color: red; */
    /* overflow:scroll; */
}
.nav_content {
    display:flex;
    z-index:2;
    flex-direction: column;
}
@media screen and (max-width:630px){
    
    .home_container .content_container {
        position:absolute;
        left:0 !important;
    }
    .content_subContainer .second_nav{
        padding-inline:0px !important;
    }
    .content_subContainer .real_content{
        padding-inline:0px !important;
    }
    .nav_top .right_content .right_content_empty {
        max-width:20px !important;
    }
    .content_subContainer .real_content .album_slider_container{
        padding-inline-start:15px;
    }
    .content_subContainer .second_nav .empty_nav{
        display:none;
    }
    .content_subContainer .second_nav .content_div{
        padding-inline-start:15px;
        padding-inline-end:25px;
    }
    .content_subContainer .real_content .foryou_slider_container{
        padding-inline:unset;
        padding-inline-start:15px;
    }
    .content_subContainer .real_content .honmono_content .content_list_container{
        padding-inline:unset !important;
        padding-inline-start:15px !important;
        padding-inline-end:25px !important;
    }
}
@media screen and (max-width:980px){
    .nav_top .right_content .right_content_empty {
        max-width:60px;
        width:60px !important;
    }
}